@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.home-page{
 
.home-section-1 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
 
  .gif {
    text-align: center;
  }

  .carousel-1 {
    img {
      height: 500px;
      width: 100%;
    }

    .carousel-caption {
      bottom: 9.25rem;

      h2 {
        text-transform: uppercase;
        font-size: 70px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        letter-spacing: 12px;
        line-height: 1.5;
      }

      h1 {
        font-family: "Courgette", cursive;
        font-size: 50px;
      }

      button {
        background-color: white;
        color: #D61C22;
        border-radius: 8px;
        border: none;
        text-transform: uppercase;
        font-size: 10px;
        width: 100px;
        height: 30px;
        transition: 1.2s;

        &:hover {
          background-color: #D61C22;
          color: white;
        }
      }
    }

    .carousel-indicators {
      button {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid white;
      }

      .active {
        background-color: #D61C22;
      }
    }

  }
}

.home-section-2 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e3e3;

  .italian-res-content {
    text-align: center;

    h3 {
      font-family: "Courgette";
      color: #D61C22;
    }

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      letter-spacing: 8px;
      line-height: 1.2;
      text-transform: uppercase;
    }

    p {
      font-size: 13px;
      max-width: 400px;
      line-height: 1.7;
      margin: auto;
      color: #666666;
    }

    a {
      text-decoration: none;
      color: #666666;
      font-size: 12px;
      text-transform: uppercase;
      transition: 1s;
      line-height: 4;

      &:hover {
        color: #D61C22;
      }
    }
  }

  .italian-res-food {
    img {
      width: 340px;
      height: 340px;
      border-radius: 15px;
      margin-top: -40px;
    }
  }
}

.home-section-3 {
  background-image: url('https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 0;
  height: 390px;
  background-attachment: fixed;

  .section-3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 330px;
    text-align: center;

    p {
      color: #D61C22;
      font-family: 'Courgette';
      font-size: 30px;
      line-height: 0;
    }

    h1 {
      color: white;
      font-family: "Poppins";
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 7px;
    }
  }
}

.home-section-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 500px;

  .card {
    font-family: "Montserrat";
    border: none;

    h5 {
      color: black;
    }

    a {
      text-decoration: none;
      color: #666666;
      text-transform: uppercase;
      font-size: 12px;
    }

    p {
      color: #666666;
      font-size: 15px;
    }

    .card-img-top {
      overflow: scroll;
    }
  }
}

.home-section-5 {
  background-color: #e5e3e3;
  height: 1000px;

  .section-5-content {
    text-align: center;

    p {
      color: #D61C22;
      font-family: 'Courgette';
      font-size: 30px;
    }

    h1 {
      font-family: "Poppins";
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 10px;
    }
  }

  .our-menu-img-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 370px;
      height: 490px;
      border-radius: 10px;
      position: relative;
    }

    button {
      width: 150px;
      height: 60px;
      border-radius: 10px;
      border: none;
      background-color: #e5e3e3;
      position: absolute;
      text-transform: uppercase;
      font-size: 22px;
      transition: 1s;
      font-family: 'Poppins';

      &:hover {
        color: white;
        background-color: #D61C22;
      }
    }
  }

  .our-menu-img-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 370px;
      height: 232px;
      border-radius: 10px;
      position: relative;
    }

    button {
      width: 180px;
      height: 60px;
      border-radius: 10px;
      border: none;
      background-color: #e5e3e3;
      position: absolute;
      text-transform: uppercase;
      font-size: 22px;
      transition: 1s;
      font-family: 'Poppins';

      &:hover {
        color: white;
        background-color: #D61C22;
      }
    }
  }

  .our-menu-img-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;

    img {
      width: 745px;
      height: 232px;
      border-radius: 10px;
      position: relative;
    }

    button {
      width: 255px;
      height: 60px;
      border-radius: 10px;
      border: none;
      background-color: #e5e3e3;
      position: absolute;
      text-transform: uppercase;
      font-size: 22px;
      transition: 1s;
      font-family: 'Poppins';

      &:hover {
        color: white;
        background-color: #D61C22;
      }
    }
  }

  .our-menu-img-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 370px;
      height: 232px;
      border-radius: 10px;
      position: relative;
    }

    button {
      width: 173px;
      height: 60px;
      border-radius: 10px;
      border: none;
      background-color: #e5e3e3;
      position: absolute;
      text-transform: uppercase;
      font-size: 22px;
      transition: 1s;
      font-family: 'Poppins';

      &:hover {
        color: white;
        background-color: #D61C22;
      }
    }
  }
}

.home-section-6 {
  .carousel-2 {
    height: 800px;
    .carousel-caption {
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 700px;

      p {
        color: #D61C22;
        font-family: 'Courgette';
        font-size: 30px;
        line-height: 0;
      }

      h1 {
        color: white;
        font-family: "Poppins";
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 7px;
      }
    }

    .carousel-indicators {
      button {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid white;
      }

      .active {
        background-color: #D61C22;
      }
    }

    .box {
      width: 1100px;
      height: 390px;
      background-color: #f8f6f6;
      border-radius: 10px;

      img {
        width: 585px;
        height: 390px;
      }

      h4 {
        color: black;
        text-transform: uppercase;
        font-family: 'Montserrat';
      }

      p {
        color: #666666;
        font-family: 'Montserrat';
        line-height: 1;
        font-size: 15px;
        text-align: center;
      }

    }
  }
}
.home-section-7{
  img{
    width: 390px;
    height: 390px;
  }
}
}